<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>NSFW searcher</title>
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_register.css') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='script_register.js') }}"></script>
    <h1 class="">NSFW/SFW Search</h1>
    <div class="login-system">
        <div><button class="login-button">Login</button></div>
        <div><button class="register-button">Register</button></div>
    </div>
</body>
</html>